main {
  background-color: $color-grey-dark-3;
  min-height: calc(100vh - 6rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-content {
  width: 100%;
  max-width: 40rem;
  padding: 2rem;
  background-color: $color-white;
  border-radius: 6px;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.15);

  h2 {
    text-align: center;
  }

  .form {
    padding: 1rem 4rem;
  }
}
